@import url('../nullstyle.css');

body {
  font-family: Montserrat, sans-serif;
}

.learn {
  margin: 0 auto;
  background: #2C2C2C;
  padding: 27px 15px 187px 15px;
}

.title {
  position: relative;
  color: #FFF;
  text-align: center;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.title::after {
  position: absolute;
  content: '';
  display: inline-block;
  bottom: -30px;
  left: 48%;
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background: #EB601D;
}

.text {
  margin: 0 auto;

  margin-top: 71px;
  margin-bottom: 157px;
  text-align: center;
}

.text,
.features {
  color: #C1C1C1;
  font-size: 16px;
  line-height: 24px;
}

.features {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.features li {
  flex: 0 1 25%;
  position: relative;
  align-self: flex-start;
  max-width: 253px;
}

.features li::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -60px;
  left: 0;
  background-repeat: no-repeat;
  width: 120px;
  height: 60px;
}

.features li:nth-child(1)::before {
  background-image: url('../img/icons/pin-ico.svg');
}

.features li:nth-child(2)::before {
  background-image: url('../img/icons/trophy-ico.svg');
}

.features li:nth-child(3)::before {
  background-image: url('../img/icons/bike-ico.svg');
}

.features li:nth-child(4)::before {
  background-image: url('../img/icons/headprotect-ico.svg');
}
