@import url('../nullstyle.css');

body {
  font-family: Montserrat, sans-serif;
}

.first-form {
  max-height: 525px;
  width: 98vw;
  margin: 0 -15px;
  background: url('img/form-bg.png') center no-repeat;
  padding: 87px 0px 63px 0px;
}

.first-form h2 {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.first-form h2::after {
  position: absolute;
  content: '';
  display: inline-block;
  bottom: -30px;
  left: 47%;
  width: 80px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #EB601D;
}

.first-form p {
  margin-bottom: 72px;
  color: #C1C1C1;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

form {
  display: block;
  text-align: center;
}

form input {
  margin-bottom: 50px;

  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
  border-radius: 1px;
  width: 360px;
  border: none;
  border-bottom: solid 1px #41454E;
  background: transparent
}

form input:first-child,
form input:nth-child(2) {
  margin-right: 142px;
}

form input::placeholder {
  color: #FFF;
}

form button {
  display: block;
  margin: 0 auto;
}

form button {
  padding: 21px 39px;
  border-radius: 12px;
  border: solid 1px #FFF;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.3s;
}

form button:hover {
  background: #EB601D;
}